.addListingPage {
    padding-bottom: 80px;
    min-height: 100vh;
    background-color: var(--bg-main);
}

.pageContentWrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .addListingPage {
        padding-bottom: 40px;
    }
}